<div class="container">
    <div class="row">
    
      <div class="col-md-6 col-sm-12">
          <div class="card text-bg-warning">
            <div class="card-body">
              <h5 class="card-title">Follow me!</h5>
              <p class="card-text">Get instant notifications when new tales are available&mdash;just follow me on Amazon, GoodReads, Bookbub, or wherever else you find new tales! (You can also get complete new novels for free if you become <a href="signup.html">part of my Advance Reviewer team</a>)</p>
              <a href="https://amzn.to/4eFqscn" class="btn btn-light icon-link"><i class="bi bi-amazon"></i> Amazon</a>
              <a href="https://www.goodreads.com/author/show/110898.Don_Jones" class="btn btn-light icon-link"><i class="bi bi-bookmark-check"></i> GoodReads</a>
              <a href="https://www.bookbub.com/authors/don-jones-c328bfa6-7bda-4398-a8eb-0670269ba7ef" class="btn btn-light icon-link"><i class="bi bi-book"></i> Bookbub</a>
            </div>
          </div>
      </div>
      
      <div class="col-md-6 col-sm-12">
          <div class="card text-bg-success">
            <div class="card-body">
              <h5 class="card-title">Free reads!</h5>
              <p class="card-text">I'm giving away some of my earlier novels&mdash;a full fantasy trilogy and a superhero-themed duology&mdash;with absolutely no obligation. Well, you do have to click the button, but I'll also offer up a selection of fun short stories as well!</p>
              <a href="signup.html" class="btn btn-warning">Get free reads</a>
            </div>
          </div>
      </div>
      
    </div>
  </div>	