{% if page.subscription == "false" %}
<style>
.ml-embedded {
    display: none !important;
}

{% else %}
<style>
.ml-embedded {
    display: block !important;
}

{% endif %}

.navbar-brand{
    font-family: Pacifico !important;
}
.ban_sec {
    width: 100%;
  }
  .ban_img {
    width: 100%;
    position: relative;
  }
  .ban_img img {
    width: 100%;
  }
  .ban_text {
    position: absolute;
    top: 100%;
    margin: 0px auto;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .ban_text strong {
    font: 800 62.22px/70px "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .ban_text strong span {
    font: 400 44.44px/52px "Montserrat", sans-serif;
    letter-spacing: 3px;
  }
  .ban_text p {
    font: 400 25px/30px "Montserrat", sans-serif;
    color: #fff;
    margin: 7px 0 25px;
  }
  .ban_text a {
    display: inline-block;
    font: 800 19.39px/24px "Montserrat", sans-serif;
    background: #282828;
    border-radius: 26px;
    color: #fff;
    padding: 12px 28px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
  }
  .ban_text a:hover {
    background: #50af47;
  }
  
  @media (min-width: 1200px) and (max-width: 1399px) {
    .ban_text p {
      font-size: 21px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .ban_text p {
      font-size: 17px;
    }
    .ban_text strong {
      font-size: 50px;
      line-height: 60px;
    }
    .ban_text strong span {
      font-size: 37px;
    }
    .ban_text a {
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .ban_text strong {
      font-size: 35px;
      line-height: 40px;
    }
    .ban_text strong span {
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 2px;
    }
    .ban_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    .ban_img img {
      min-height: 290px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 575px) {
    .ban_text strong {
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      width: 100%;
      display: block;
    }
  }
  @media only screen and (max-width: 480px) {
    .ban_text strong span {
      font-size: 22px;
      line-height: 31px;
      letter-spacing: 1px;
    }
    .ban_text {
      left: 2%;
    }
  }
  .row {
    margin-top: 50px !important;
  }
  .custom-card {
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}
.card-yellow {
    background-color: #ffc107;
    color: #000;
}
.card-green {
    background-color: #28a745;
}
.btn-yellow {
    background-color: #ffc107;
    color: #000;
    border: none;
}
.btn-yellow:hover {
    background-color: #e0a800;
}

.bpad {
	padding-bottom: 4px;
}

.card {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

blockquote {
	margin:60px;
}
blockquote > p {
	font-family:"Crimson Text";
	font-size:1.4em;
}
.blockquote-footer {
	text-align:right;
}

a.btn {
	margin-top:4px;
}

.main > h1 {
	font-family:"Crimson Text";
	font-size:3em;
	text-align:center;
}
.main > h2 {
	font-family:"Crimson Text";
	font-size:2em;
	text-align:center;
	font-style:italic;
}

.bookdetail {
	padding-left:20px;
	padding-right:20px;
}
.bookblock {
	margin-top:40px;
}

.praise {
	font-family:"Crimson Text";
	font-size:1.2em;
	text-align:center;
}
.praisesource {
	font-size:.8em;
	text-align:center;
}

.booklink {
	text-align:center;
	padding:10px;
}
.booklink > img {
	border-radius:10px;
}

.booklist > li {
	margin-bottom:10px;
}

@media only screen and (max-width: 767px) {
  .ban_img img {
      min-height: 100px;
      object-fit: contain;
  }
  .col{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 0rem;
}
.col-sm-12{
  padding: 0px;
}
.container{
  margin: 0px;
  padding: 0 0 0 0;
}
.card{
  padding: 15px;
}
}