---
layout: default
---

<style>
    .jumbotron h1, h3{
        font-family: "Crimson Text";
    }
    .jumbotron h1{
        font-size: 3em;
    }
    .jumbotron  h3{
        font-size: 2em;
    }
</style>

{% assign author = site.authors[page.author] %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
	<h1 class="text-center">{{page.title}}</h1>
	<h3 class="text-center">{{page.subtitle}}</h3>
	</div>
</div>





<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        
        
       
        
        
		<div class="col-md-12 col-lg-12">
            
            <!-- Article -->
			<article class="article-post">                
			{{ content }}                
			</article>
			
	
 
           {% include newsletters.html %}
		</div>  
	</div>
</div>


