---
layout: default
---

<style>
    .pb-4 h1, h3{
        font-family: "Crimson Text";
    }
    .pb-4 h1{
        font-size: 3em;
    }
    .pb-4  h3{
        font-size: 2em;
    }
</style>

<div class="container-lg pt-4 pb-4">
    <h1 class="text-center">{{page.title}}</h1>
    <h3 class="text-center"><i>{{page.subtitle}}</i></h3>
	<div class="row justify-content-center">
		<div class="col-md-12 col-lg-12">
            
            <!-- Article -->
			<article class="article-post">                
			{{ content }}                
			</article>
		</div>  
	</div>
</div>
<div class="accordion" id="accordionExample" style="margin:30px">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Short Stories &amp; Collections
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="booklist">
              <li><em>A History of the Galactic War</em> is the first novella I wrote. It's written as a textbook, teaching about the galactic war that you and I have yet to experience. <a href="/assets/files/galactic-war-preview.epub" download>EPUB</a> | <a href="galactic-war-preview.pdf">PDF</a></li>
              <li><em>Classmates</em> is from the <em>Clara Thorn</em> series and falls between the first and second books. <a href="/assets/files/Classmates-Generic.epub" download>EPUB</a></li>
              <li><em>short stories of witchkind</em> provides a ton of backstory and "side stories" from the <em>Daniel Scratch</em> world. This is <a href="https://amzn.to/3Y3hluP" >free on Amazon</a>.
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          The Achillios Chronicles (trilogy)
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="/assets/images/cover-flat-achillios.webp" />
          <p>This is really a sci-fi series, although as you start you'll think it's fantasy.</p>
          <ul class="booklist">
              <li>Alabaster <a href="/assets/files/alabaster-preview.epub" download>EPUB</a> | <a href="/assets/files/alabaster-preview.pdf" download>PDF</a></li>
              <li>Onyx <a href="/assets/files/onyx-preview.epub" download>EPUB</a> | <a href="/assets/files/onyx-preview.pdf" download>PDF</a></li>
              <li>Verdant <a href="/assets/files/verdant-preview.epub" download>EPUB</a> | <a href="/assets/files/verdant-preview.pdf" download>PDF</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          The Prime Wave Accounting (superhero dulogy)
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="/assets/images/cover-flat-power-wave.webp" />
            <img src="/assets/images/cover-flat-superior-wave.webp" />
          <p>This is in the superhero genre.</p>
          <ul class="booklist">
              <li>Power Wave <a href="/assets/files/powerwave-preview.epub" download>EPUB</a> | <a href="/assets/files/powerwave-preview.pdf" download>PDF</a></li>
              <li>Superior Wave <a href="/assets/files/superiorwave-preview.epub" download>EPUB</a> | <a href="/assets/files/superiorwave-preview.pdf" download>PDF</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

